version: '3.8'

services:

  postgres:
    image: postgres:17
    ports:
      - "${POSTGRES_PORT}:${POSTGRES_PORT}"
    env_file:
      - .env
    volumes:
      - ./users/init.sql:/docker-entrypoint-initdb.d/1-users.sql:ro
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}

  gateway:
    build:
      context: .
      dockerfile: gateway/Dockerfile
    env_file:
      - .env
    ports:
      - "${API_PORT}:${API_PORT}"
    depends_on:
      - postgres

  users:
    build:
      context: .
      dockerfile: users/Dockerfile
    env_file:
      - .env
    ports:
      - "${USERS_PORT}:${USERS_PORT}"
    depends_on:
      - postgres
